<%if current_admin %>
    <h1>New <%=@user.type%></h1>

    <%= render "user_form", user: @user %>

<%else%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        You are not admin
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>  
<%end%>